line {
  pointer-events: none;
  stroke: black;
  stroke-width: 1;
}

svg {
  aspect-ratio: 14/15;
  background: #DCB35C;
  max-height: 100%;
  max-width: 100%;
}

.star-point {
  pointer-events: none;
  fill: black;
}

.stone {
  pointer-events: none;
}

#canvas {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
